.datosP{
    font-family: $f-family-secundario;
    display: inline;
}
.cajaContacto{
    background-color: $lightpink;
    padding: 30px;
}
.ubicacion{
    background-color: $lightpink;
    padding: 5px;
    display: flex;
    flex-direction: row; 
    justify-content: center;
}
h1{
    font-family: $f-family-primario;
    padding: 15px;
    display: flex;
    flex-direction: row; 
    justify-content: center;
}
.tituloColeccion{
    background-color:  $lightpink;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.metodosDePago, .preguntasFrecuentes{
    background-color:rgb(235, 232, 232); padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.sticky{
    position: sticky;
}
.p20{padding: 20px;}
.iframeUbicacion{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:600px; height:450px;
}
.CARD{
    width:100%;height: auto;
    background-color: rgb(231, 229, 229);
    margin-top:10px;
}
.card1, .card2, .card3, .card4{display:flex;flex-direction: column;}
main{display: grid;}
footer{
    display: grid;
    background-color: rgb(245, 244, 243);
    margin-top: 20px;
}
.rrss, .DAutor, .followUs{
    display: flex;
    justify-content: center;
}