/***GRID***/
.gridSc{
    display: grid;
    grid-template-columns: $full-width;
    grid-template-rows: $auto $auto $auto $auto;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "footer"
    ;
}
    header{grid-area: header;}
    nav{grid-area: nav;}
    main{grid-area: main;}
    footer{grid-area: footer;}
.gridPago{
    display: grid;
    grid-template-columns: $full-width;
    grid-template-rows: $auto $auto $auto $auto;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "footer"
    ;
}
    header{grid-area: header;}
    nav{grid-area: nav;}
    main{grid-area: main;}
    footer{grid-area: footer;
    }
.gridPF{
    display: grid;
    grid-template-columns: $full-width;
    grid-template-rows: $auto $auto $auto;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "footer"
    ;
}
    header{grid-area: header;}
    nav{grid-area: nav;}
    main{grid-area: main;}
    footer{grid-area: footer;
    }

/* MOBILE */
@media (max-width:768px)
{
    .gridContacto{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100px $auto $auto $auto;
        grid-template-areas:
        "header header"
        "nav nav"
        "title title"
        "section3 section3"
        "section4 section4"
        "footer footer"
        ;
    }
        header{grid-area: header;}
        nav{grid-area: nav;}
        h1{grid-area: title;}
       .section3{grid-area: section3;}
       .section4{grid-area: section4;}
        footer{grid-area: footer;}
    .gridHome{
        display: grid;
        grid-template-columns:$full-width;
        grid-template-rows: $auto $auto $auto $auto $auto;
        grid-template-areas: 
        "header"
        "nav"
        "section"
        "cards1"
        "footer"
        ;
    }
        header{grid-area: header;}
        nav {grid-area: nav;}
        section{grid-area: section;}
        .CARDS1 {grid-area: cards1;}
        footer{grid-area: footer;}
}
/* DESKTOP */
@media (min-width: 800px) {
    .gridContacto{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100px $auto $auto $auto $auto;
        grid-template-areas:
        "header header"
        "nav nav"
        "title title"
        "section1 section2"
        "footer footer"
        ;
    }
        header{grid-area: header;}
        nav{grid-area: nav;}
        .h1Contacto{grid-area: title;}
       .section1{grid-area: section1;}
       .section2{grid-area: section2;}
        footer{grid-area: footer;}
    .gridHome{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: $auto $auto $auto $auto;
        grid-template-areas: 
        "header header header header"
        "nav nav nav nav"
        "section section section section"
        "card1 card2 card3 card4"
        "footer footer footer footer"
        ;
    }
        header{grid-area: header;}
        nav{grid-area: nav;}
        section{grid-area: section;}
        .card1{grid-area: card1;}
        .card2{grid-area: card2;}
        .card3{grid-area: card3;}
        .card4{grid-area: card4;}
        footer{grid-area: footer;}
}