header{
    background-color:rgba(206, 180, 180, 0.63);
    display: flex;
    justify-content: center;
}
nav{
    font-family:$f-family-secundario; 
    font-size: smaller;
    flex-direction: row;
    justify-content: baseline;
    border-bottom: 0.5px solid gray;
}

ul{
    list-style-type: none;
    padding: 10px;
}

li{
    font-size: larger;
    display: inline;
    padding: 18px;
}
a:hover{font-size:20px; background-color: rgba(255, 255, 255, 0.705);}
a{text-decoration: none; transition: all .5s; border-radius:10px;}
