//VARIABLES $DeclaracionVariable:valor;
$black:black;
$grey:rgb(235, 232, 232);
$lightpink: rgb(255, 243, 228);
$grid: grid;
$auto: auto;
$full-width: 100%;
$f-family-secundario: "Rubik";
$f-family-primario: "Gloock";